<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do App</title>
    <link rel="stylesheet" href="style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.4.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <h1>To do App</h1>
    <h3>My today's todo list</h3>
    <form action="/add" method="post">
        <input type="text" name="todo" id="" placeholder="Enter your work">
        <button type="submit">Add <i class="ri-add-circle-line"></i></button>
    </form>
    <i class="ri-pencil-line"></i>
</body>
</html>